
.player-container {
  display: grid;
  grid-template-columns: repeat(2, 80px 200px);
  grid-template-rows: 40px 80px;
  align-items: flex-start;
  justify-items: center;
  justify-content: center;
}

.player-container label:first-child {
  grid-area: 1 / 1 / 2 / 2;
}

.player-container span:nth-child(3) {
  grid-area:  2 / 1 / 3 / 3;
}

.player-container span:last-child {
  grid-area: 2 / 3 / 3 / 5;
}

.player-container span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
  column-gap: 5px;
}

.player-container span div {
  grid-area: 1 / 1 / 2 / 3;
}

.board-container {
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  align-items: stretch;
  justify-content: center;
  
}

.board-container div {
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}